.AppLink {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.15s;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-secondary-color);
} 